// :root {
//     --primaryColor: hsl(94, 59%, 35%);
//     --hoverColor: #bdf094;
//     --paleGreen: hsl(96, 75%, 89%);
//     --whiteColor: hsl(0, 0%, 100%);
//     --blackColor: hsl(0, 0%, 18%);
//     --textColor: hsl(240, 1%, 48%);
//     --grayText: hsl(190, 190, 190);
//     --bgColor: hsl(220, 10%, 94%);
//     --inputColor: hsl(330, 12%, 97%);
//     --biggestFontSize: 2.5rem;
//     --h1fontSize: 1.5rem;
//     --h2fontSize: 1.25rem;
//     --h3fontSize: 1rem;
//     --normalfontSize: .938rem;
//     --smallfontSize: .813rem;
//     --smallestfontSize: .75rem;
//   }
  
//   .topSection {
//     .headerSection {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
  
//       .title {
//         h1 {
//           font-size: var(--h1fontSize);
//           color: var(--blackColor);
//           font-weight: 700;
//         }
  
//         p {
//           font-size: var(--normalfontSize);
//           color: var(--textColor);
//           font-weight: 500;
//         }
//       }
  
//       .adminDiv {
//         gap: 1rem;
//         display: flex;
//         align-items: center;
//         margin-left: auto; 
  
//         .icon {
//           font-size: var(--biggestFontSize);
//           background: var(--whiteColor);
//           border-radius: 5px;
//           padding: 5px;
//           box-shadow: 0 2px 4px var(--inputColor);
//           color: var(--textColor);
//         }
  
//         .adminImage {
//           border: 3px solid var(--whiteColor);
//           border-radius: 10px;
//           width: 2.5rem;
//           overflow: hidden;
//           box-shadow: 0 2px 4px var(--inputColor);
  
//           img {
//             width: 100%;
//             height: 100%;
//             border-radius: 10px;
//           }
//         }
//       }
//     }
  
//     .cardSection {
//       margin-top: 3rem;
//       gap: 1rem;
  
//       .rightCard {
//         position: relative;
//         flex-basis: 100%;
//         height: 360px;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: center;
//         margin: auto;
//         padding: 2rem;
//         border-radius: 1rem;
//         overflow: hidden;
  
//         .videoDiv {
//           position: absolute;
//           height: 100%;
//           width: 100%;
//           top: 0;
//           right: 0;
//           bottom: 0;
//           left: 0;
  
//           video {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//           }
//         }
  
//         h1, p, .btn {
//           z-index: 100;
//         }
  
//         h1 {
//           font-size: var(--h1fontSize);
//           color: var(--whiteColor);
//           font-weight: 800;
//         }
  
//         p {
//           padding: 1rem;
//           color: var(--paleGreen);
//           font-weight: 500;
//         }
  
//         .buttons {
//           gap: 1em;
//         }
  
//         .btn {
//           background: none;
//           border: 2px solid var(--paleGreen);
//           color: var(--paleGreen);
  
//           &:hover {
//             background: var(--paleGreen);
//             color: var(--primaryColor);
//           }
//         }
  
//         .leftCard {
//           position: absolute;
//           top: 1rem;
//           right: 1rem;
//           flex-basis: 30%;
//           z-index: 200;
  
//           .main {
//             position: relative;
//             padding: 1rem;
//             border-radius: 1rem;
//             justify-content: space-between;
//             overflow: hidden;
  
//             &::before {
//               content: '';
//               position: absolute;
//               height: 100%;
//               width: 100%;
//               background: var(--paleGreen);
//               left: 0;
//               bottom: 0;
//               border-radius: 1rem;
//               z-index: 1;
//             }
  
//             .calendar {
//               position: relative;
//               z-index: 2;
//               width: 100%;
//               height: 100%;
//               display: flex;
//               flex-direction: column;
//               align-items: center;
//               justify-content: center;
  
//               h1 {
//                 margin-bottom: 1rem;
//                 font-size: var(--h2fontSize);
//                 color: var(--blackColor);
//               }
//             }
//           }
//         }
//       }
//     }
//   }
  

// @media screen and (max-width: 1024px) {
//   .cardSection{
//     align-items: flex-start;
//     flex-direction: column;

//     .rightCard{
//       flex-direction: column;
//       align-items: flex-start;
//       width: 100%;
//       height: auto;

//       .leftCard{
//         position: static;
//         margin-top: 1rem;
//         width: 100%;
//       }
//     }
//   }
// }

.topSection {

   .headerSection {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .title {
        h1 {
          font-size: var(--h1fontSize);
          color: var(--blackColor);
          font-weight: 700;
        }
  
        p {
          font-size: var(--normalfontSize);
          color: var(--textColor);
          font-weight: 500;
        }
      }
  
      .adminDiv {
        gap: 1rem;
        display: flex;
        align-items: center;
        margin-left: auto; 
  
        .icon {
          font-size: var(--biggestFontSize);
          background: var(--whiteColor);
          border-radius: 5px;
          padding: 5px;
          box-shadow: 0 2px 4px var(--inputColor);
          color: var(--textColor);
        }
  
//         .adminImage {
//           border: 3px solid var(--whiteColor);
//           border-radius: 10px;
//           width: 2.5rem;
//           overflow: hidden;
//           box-shadow: 0 2px 4px var(--inputColor);
  
//           img {
//             width: 100%;
//             height: 100%;
//             border-radius: 10px;
//           }
//         }
      }
    }
  .cardSection {
    margin-top: 3rem;
    gap: 1rem;

    .rightCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      flex-basis: 100%;
      height: 360px; /* Original height */
      justify-content: center;
      margin: auto;
      padding: 2rem;
      border-radius: 1rem;
      overflow: hidden;

      .videoDiv {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h1, p, .btn {
        z-index: 100;
      }

      h1 {
        font-size: var(--h1fontSize);
        color: var(--whiteColor);
        font-weight: 800;
      }

      p {
        padding: 1rem 0;
        color: var(--paleGreen);
        font-weight: 500;
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1em;
      }

      .btn {
        background: none;
        border: 2px solid var(--paleGreen);
        color: var(--paleGreen);
        padding: .5rem 1rem;
        border-radius: 1rem;

        &:hover {
          background: var(--paleGreen);
          color: var(--primaryColor);
        }
      }

      .leftCard {
        position: absolute;
        top: 1rem;
        right: 1rem;
        flex-basis: 30%;
        z-index: 200;

        .main {
          position: relative;
          padding: 1rem;
          border-radius: 1rem;
          justify-content: space-between;
          overflow: hidden;

          &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: var(--paleGreen);
            left: 0;
            bottom: 0;
            border-radius: 1rem;
            z-index: 1;
          }

          .calendar {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
              margin-bottom: 1rem;
              font-size: var(--h2fontSize);
              color: var(--blackColor);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .topSection .cardSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .topSection .cardSection .rightCard {
    height: auto; /* Allow height to adjust dynamically */
  }

  .topSection .cardSection .rightCard .leftCard {
    position: static;
    width: 100%;
    margin-top: 1rem; /* Add space between text content and calendar */
    flex-basis: 100%;
  }
}

@media screen and (max-width: 760px) {
  .topSection .headerSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .topSection .headerSection {
    margin-left: 0;
    margin-top: 1rem;
  }

  .topSection .cardSection {
    flex-direction: column;
    margin-top: 2rem;
  }

  .topSection .cardSection .rightCard {
    height: auto;
    padding: 1rem;
    flex-direction: column;
    text-align: center;
  }

  .topSection .cardSection .rightCard h1 {
    font-size: var(--h3fontSize);
    text-align: center;
    padding: 3rem;

  }

  .topSection .cardSection .rightCard p {
    font-size: var(--smallfontSize);
    text-align: center;
  }

  .topSection .cardSection .rightCard .leftCard {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }
  
  .topSection .cardSection .rightCard .leftCard .main {
    padding: 0.5rem;
  }

  .topSection .cardSection .rightCard .leftCard .main .calendar h1 {
    font-size: var(--h3fontSize);
  }


  .topSection .cardSection{
    .rightCard{
      padding: 0.5rem;
      height: auto;
      text-align: center;
    }

    .rightCard h1 {
      font-size: var(--h1fontSize);
      text-align: center;
      padding: 1.5rem;
    }
    .rightCard p {
      font-size: var(--h3fontSize);
      text-align: center;
      padding: 1.5rem;
    }

    .rightCard .buttons{
      padding: 1.5rem;
    }

    .rightCard .buttons .btn {
      padding: 0.25rem 0.5rem; 
      font-size: var(--h3fontSize);
      // margin: auto;
      // flex-direction: column;
    }
    .rightCard .leftCard {
      position: static;
      width: 100%;
    }

    .rightCard .leftCard .main {
        margin: auto;
        align-items: center;
        // padding: 0 ;

    }
    .rightCard .leftCard .main .calendar {
      h1 {
        font-size: var(--normalfontSize);
        padding: 0 ;
      }
      
      .react-calendar {
        // width: 100%; 
        font-size: var(--normalfontSize); 
        flex-direction: column;

      }
    }
  }
}



@media screen and (max-width: 490px) {
  .topSection .headerSection .title h1 {
    font-size: var(--normalfontSize);
  }

  .topSection .headerSection .title p {
    font-size: var(--smallfontSize);
    // text-align: center;
    // margin: auto;
  }

  .topSection .headerSection .icon {
    font-size: var(--h3fontSize);
    display: none;

  }

  .topSection .cardSection {
    .rightCard {
      padding: 0.5rem; 
      height: auto;
      text-align: center;
    }
    
    .rightCard h1 {
      font-size: var(--normalfontSize);
      text-align: center;
      padding: 1.5rem;
    }

    .rightCard p {
      font-size: var(--smallestfontSize);
      text-align: center;
      padding: 0;
    }

    .rightCard .buttons .btn {
      padding: 0.25rem 0.5rem; 
      font-size: var(--smallfontSize);
      margin: auto;
      flex-direction: column;
    }

    .rightCard .leftCard {
      position: static;
      width: 100%;
      margin-top: 0.5rem;
    }

    .rightCard .leftCard .main {
      padding: 0.5rem; 
      height: 200px; 
    }

    .rightCard .leftCard .main .calendar {
      h1 {
        font-size: var(--smallfontSize);
      }
      
      .react-calendar {
        width: 100%; 
        font-size: var(--smallestfontSize); 
      }
    }
  }
}

