.dashboard-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.885);
}
p{
    color: #778899;
}
.dashboard-left
{
    width: 100%;
    text-align: center;
    padding: 14px;

}
.dashboard-right{
    width: 100%;
    text-align: center;
    padding: 100px
}
h2{
    font-size: 90px;
    font-weight: 720;
    background-image: linear-gradient(to left, white, #1E90FF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.company-logo {
    max-width: 100%;
    height: auto;
}

.card-deck {
    margin-top: 15px;
}

.card-title {
    color: #1E90FF; 
    font-size: 1.5rem;
    font-weight: bold;
}
.card-text {
    color: #778899;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
    }

    .dashboard-left,
    .dashboard-right {
        width: 50%;
    }
} 
.card-link {
    background-color: #B0C4DE; 
    color: #000000; 
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-body:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #87CEEB; 
}

.btn-success {
    background-color: #87CEEB; 
} 
.dashboard-right a {
    text-decoration: none; /* Remove underline */
}