.dashboard-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.662);
}
p{
    color: #778899;
}
.dashboard-left
{
    width: 100%;
    text-align: center;
    padding: 14px;

}
.dashboard-right{
    width: 100%;
    text-align: center;
    padding: 100px
}
h1{
    font-size: 90px;
    font-weight: 720;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to left, rgb(10, 65, 10), #1E90FF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.company-logo {
    max-width: 100%;
    height: auto;
}

.card-deck {
    margin-top: 15px;
}

.card-title {
    color: hsl(120, 84%, 20%); 
    font-size: 1.5rem;
    font-weight: bold;
}
.card-text {
    color: #778899;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
    }

    .dashboard-left,
    .dashboard-right {
        width: 50%;
    }
} 
.card-link {
    background-color: #B0C4DE; 
    color: #000000; 
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-body:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #87CEEB; 
}

.btn-success {
    background-color: #87CEEB; 
} 
.dashboard-right a {
    text-decoration: none; /* Remove underline */
}


 .custom-card {
    margin-bottom: 20px;
    background-color: #f2f2f2;
  }
  
  .custom-card .card-body {
    padding: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card .card-body:hover {
    transform: scale(1.05);
  }
  
  .custom-card .card-title {
    color: #0f5193;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .custom-card .card-text {
    color: #778899;
    margin-top: 10px;
  }
  
  .custom-card .card-link {
    background-color: #B0C4DE;
    color: #000000;
    border: none;
    border-radius: 10px;
  }
  
  .custom-card .card-link:hover {
    text-decoration: none;
  }
  
  .header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 720;
    background-image: linear-gradient(to right, rgba(6, 30, 12, 0.811), #15078f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .table thead th {
    background-color: hsla(0, 1%, 21%, 0.907);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .table tbody td {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  