
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --grayText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    --textColor: hsl(240, 1%, 48%);
    --errorColor: hsla(0, 86%, 45%, 0.671);

    --biggestFontSize: 2.5rem;
    --h1fontSize: 2rem;
    --h2fontSize: 1.50rem;
    --h3fontSize: 1.25rem;
    --normalfontSize: 1rem;
    --smallfontSize: .813rem;
    --smallestfontSize: .75rem;
}


.editProfile {
    height: auto;
    display: flex;
}

.mainSetting {
    display: flex;
    margin-left: 2rem;

    .mainheader {
        padding-top: 3rem;
        // margin-left: 4rem;

        h1{
          font-size: var(--biggestFontSize);
          font-weight: bolder;
        }
    }

    .icons {
        position: relative;
        display: inline-block;
        padding: 150px 50px 50px;
      }
      
      .profile-container {
        position: relative;
        display: inline-block;
      }
      
      .profile-picture-preview {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid var(--textColor); // Optional
            padding: 5px;
      }
      .icon {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        padding: 5px;
      }
      
      .upload-label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      .icons:hover .upload-label {
        opacity: 1;
      }
      
      .file-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0; /* Hide the default file input */
        cursor: pointer;
      }
      
    

    .content {
        flex: 1;
        padding: 150px 50px 50px;

        .edit{
                font-size: var(--h2fontSize);
                cursor: pointer;
                border: none;
                outline: none;
                width: 15rem;
                margin-left: 25rem;
                background: none;
                color: var(--primaryColor);

        }

        .btns {
            padding: 2rem;
            margin-left: 20rem;

            .save {
                background: var(--primaryColor);
                border-radius: 50px;
                padding: 0.8rem;
                color: var(--whiteColor);
                font-size: var(--h3fontSize);
                margin-top: 1rem;
                cursor: pointer;
                border: none;
                outline: none;
                width: 15rem;
                margin-left: 20px;

                &:hover {
                    background: var(--hoverColor);
                }
                
            }
        }
    }

    .accountSettings  {
        margin-top: 1.5rem;

        .mainHead1 {
            font-size: var(--h1fontSize);
            margin-bottom: 20px;
            color: var(--blackColor);
            font-weight: bolder;
        }

        .form {
            .form-group {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 20px;

                input {
                    padding: 10px;
                    // border: px solid #ccc;
                    // border-radius: 4px;
                    border: none;
                    border-bottom: 0.5px solid #ccc;
                    outline: none;
                    font-size: 1rem;
                    transition: border-color 0.3s;
                    color: gray;
                    font: bolder;
                    padding-left: 3rem;
                    
                    &.editable {
                      color: var(--blackColor); 
                      // border: 1px solid gray; 
                      font-style: italic;
                  }
                }

                input:focus {
                    border-color: #007BFF;
                    outline: none;
                }

                .error-msg {
                    color: var(--errorColor);
                }

                .success-msg {
                    color: var(--primaryColor);
                }
            }
        }
    }

    .passwordContent{
      .mainHead1 {
            font-size: var(--h1fontSize);
            margin-bottom: 20px;
            color: var(--blackColor);
            font-weight: bolder;
        }

        .privacy-form {

          .subheader{
            font-size: var(--h2fontSize);
          }

          .form-group {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 20px;

              input {
                padding: 10px;
                border: 0.5px solid #ccc;
                // border-radius: 4px;
                // border: none;
                // border-bottom: 0.5px solid #ccc;
                // outline: none;
                font-size: 1rem;
                transition: border-color 0.3s;
                color: gray;
                font: bolder;
                padding-left: 3rem;
              }

              input:focus {
                  border-color: #007BFF;
                  outline: none;
              }
          }

          .error-msg {
            color: var(--errorColor);
        }

        .success-msg {
            color: var(--primaryColor);
        }

          .showPwd{
            margin-left: 85%;

            .icon{
                font-size: 1.5rem;
                color: gray;
            }
          }
      }
    }
}
