.bintable-content {
    color: var(--whiteColor); 
    padding: 20px; 
    border: none;

    table {
      width: 100%; 
      height: auto; 
      border-collapse: collapse; 
      overflow: hidden; 
  
      thead {
        th {
          background-color: #333; 
          color: var(--whiteColor); 
          padding: 16px; 
          text-align: left;
          border-bottom: 2px solid #444; 
          font-weight: bold; 
  
          &:nth-child(1) { width: 20%; } 
          &:nth-child(2) { width: 25%; } 
          &:nth-child(3) { width: 30%; } 
          &:nth-child(4) { width: 15%; } 
          &:nth-child(5) { width: 20%; }
        }
      }
  
      tbody {
        tr:nth-child(odd) {
          background-color: #2a2a2a; 
        }
  
        tr:nth-child(even) {
          background-color: #1e1e1e; 
        }
  
        td {
          padding: 16px; 
          border-bottom: 1px solid #444; 
          color: var(--whiteColor);

          .delete-icons {
            display: flex;
            align-items: center;
            gap: 6px; 
            padding-left: 0%;
            
            .MuiIconButton-root {
              padding: 0; 
              color: hsl(0, 0%, 9%);
              background: transparent; 
              transition: box-shadow 0.3s ease-in-out; 

              &:hover {
                background: transparent; 
                box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
                
            }
            
            &:focus {
                outline: none; 
            }
            }
          }
  
          input {
            color: var(--whiteColor);
            padding: 8px;
            width: 100%; 
            box-sizing: border-box; 
            border: none;
            outline: none;
            background-color: transparent;
          }

          .italic-input {
            font-style: italic;
            color: var(--grayText);
            text-decoration: underline;
            padding: 8px;
            width: 100%; 
            box-sizing: border-box; 
            border: none;
            outline: none;
            background-color: transparent;
        }
        
  
          button {
            background-color: var(--primaryColor); 
            color: var(--whiteColor); 
            border: none; 
            border-radius: 4px; 
            padding: 10px 15px; 
            cursor: pointer; 
            font-size: 14px;
  
            &:hover {
              background-color: var(--hoverColor); 
            }
  
            &:focus {
              outline: none; 
              box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
            }
          }
        }
      }
    }

    .add-icon{
      .MuiIconButton-root {
        padding: 0;
        color: hsl(139, 10%, 62%); 
        background: transparent; 
        transition: box-shadow 0.3s ease-in-out; 


        &:hover {
          background: transparent; 
          box-shadow: 0 0 8px rgba(57, 197, 113, 0.8);
          
      }
      
      &:focus {
          outline: none; 
      }
      }
    }
  }
  