.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: auto; 
    z-index: 1000; 
    padding: 10px; 

    .usericon {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 3.5rem;
        border-radius: 50%;
        padding: 5px;
        position: relative; 
        // top: -30px; 
        // right: -30px;
        color: var( --grayText);
        margin-left: 3px;
      }
      .profile-picture-preview {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        position: relative; 
        // top: -30px; 
        // right: -30px; 
        padding: 5px;
        position: relative; 
      }

      .usericon,  .profile-picture-preview,.bellicon{
        cursor: pointer;
      }

      .notification-wrapper{
        position: relative;
        display: inline-block;
    
        .bellicon {
          width: 3rem;
          height: 3rem;
          font-size: 2rem;
          border-radius: 50%;
          padding: 5px;
          position: relative; 
          // top: -30px; 
          // right: -27px;
          color: var(--grayText);
        }

        .notification-count {
          position: absolute;
          top: -5px;
          right: -5px;
          background: red;
          color: white;
          border-radius: 50%;
          padding: 0.2rem 0.5rem;
          font-size: 0.75rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 20px;
          height: 20px;
      }
      }
     

}





