.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: auto; 
    z-index: 1000; 
    padding: 10px; 

    .usericon {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 3.5rem;
        border-radius: 50%;
        padding: 5px;
        position: relative; 
        // top: -30px; 
        // right: -30px;
        color: var( --grayText);
        margin-left: 3px;
      }
      .bellicon {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        border-radius: 50%;
        padding: 5px;
        position: relative; 
        // top: -30px; 
        // right: -27px;
        color: var(--grayText);
      }

      .profile-picture-preview {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        position: relative; 
        // top: -30px; 
        // right: -30px; 
        padding: 5px;
        position: relative; 
      }

      .usericon,  .profile-picture-preview,.bellicon{
        cursor: pointer;
      }
}





