.bincrd {
    margin-left: 3rem;

    .img {
        width: 15rem;
        height: 15rem;
    }

    .crdbody {
        background-color: var(--blackColor);
        height: 6rem;
        justify-content: center;
    }

    h5{
        color: var(--whiteColor);
    }

    .crdtxt{
        color: var(--whiteColor);
        // padding-left: 4rem;
        font-size: var(--h2fontSize);
        gap: 0;
    }


}